n = 2
m = n
a = 1.0
b = (2.0*n) - 1
p = 16.0

while True:
    b = (1.0*n*m) - a
    print p,'/', n, '=', p/n, '; (', a, '/', m, ')**2 + (', b, '/', m, ')**2 - (', a, '*', b, ') /', m**2, '=', ((a/m)**2) + ((b/m)**2) -((a/m)*(b/m))
    i = raw_input()
    if i == '':
        m = m + 1
        a = 1.0
    if i == 'x':
        m = m - 1
    if i == 'p':
        n = n + 1
        m = n
        a = 1.0
        i = ''
    if i == 'l':
        n = n - 1
        m = n
        a = 1.0
        i = ''
    if i == 'm':
        a = a + 1
        i = ''
    if i == 'n':
        a = a - 1
        i = ''  
    if i == 'q':
        p = p + 1
        a = 1.0
        i = ''
    if i == 'a':
        p = p - 1
        a = 1.0
        i = ''
