n = 2
m = n
a = 1.0
b = (2.0*n) - 1

while True:
    b = (1.0*n*m) - a
    print '17.0 /', n, '=', 17.0/n, '; (', a, '/', m, ')**2 + (', b, '/', m, ')**2 - (', a, '*', b, ') /', m**2, '=', ((a/m)**2) + ((b/m)**2) -((a/m)*(b/m))
    i = raw_input()
    if i == '':
        m = m + 1
        a = 1.0
    if i == 'n':
        n = n + 1
        m = n
        a = 1.0
        i = ''
    if i == 'd':
        a = a + 1
        i = ''
